:root {
    --color-main: rgb(230, 230, 230);
    --color-shadow: rgb(160, 160, 160);
    --color-highlight: rgb(100, 100, 100);
    --color-accent1: rgb(190, 190, 190);
    --color-accent2: rgb(90, 0, 190);
}