<!doctype html>
<html lang=en>
    <head>
        <title>Two-column layout</title>
        <style>
            body{background-color:rgb(255, 200, 210); color:red; text-align:center;}
            main{margin:auto; width:600px;}
            div.left{float:left; width:148px; border: 1px dashed black;}
            div.right{float:right; width:448px; border: 1px solid red;}
        </style>
    </head>
    <body>
        <main>
            <div class="left">
                <p><em>Left</em> column content<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
            <div class="right">
                <p class="content"><em>Right</em> column content<br>
                    At vero eos et accusam et justo duo dolores et ea rebum.
                    Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
            </div>
            <p class="right">THIS IS MY RIGHT CLASS</p>
        </main>
    </body>
</html>